<a href="https://colab.research.google.com/github/GrayWrld7/testrepo/blob/master/PY0101EN_5_1_Intro_API_edited.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Application Programming Interface

Estimated time needed: **15** minutes

## Objectives

After completing this lab you will be able to:

*   Create and Use APIs in Python

### Introduction

An API lets two pieces of software talk to each other. Just like a function,  you don’t have to know how the API works only its inputs and outputs.  An essential type of API is a REST API that allows you to access resources via the internet. In this lab, we will review the Pandas Library  in the context of an API, we will also review a basic REST API

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">
<li><a href="https://#ref0">Pandas is an API</a></li>
<li><a href="https://#ref1">REST APIs Basics  </a></li>
<li><a href="https://#ref2">Quiz on Tuples</a></li>

</div>

<hr>

In [ ]:
!pip install pycoingecko
!pip install plotly
!pip install mplfinance

In [2]:
!pip install pycoingecko
!pip install plotly
!pip install mplfinance

Collecting pycoingecko
  Downloading pycoingecko-2.2.0-py3-none-any.whl (8.3 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from pycoingecko) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (1.24.3)
Installing collected packages: pycoingecko
Successfully installed pycoingecko-2.2.0
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (4.4.1)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly) (1.3.3)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly) (1.15.0)
Collecting mplfinance
  Downloading mplfinance-0.12.7a17-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 797 kB/s
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from mplfinance) (3.2.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from mplfinance) (1.1.5)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mplfinance) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mplfinance) (2.8.2)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mplfinance) (1.19.5)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mplfinance) (3.0.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mplfinance) (1.3.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib->mplfinance) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->mplfinance) (2018.9)
Installing collected packages: mplfinance
Successfully installed mplfinance-0.12.7a17

<h2 id="PandasAPI">Pandas is an API </h2>

Pandas is actually set of software components , much of  which is not even written in Python.

In [ ]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
from plotly.offline import plot
import matplotlib.pyplot as plt
import datetime
from pycoingecko import CoinGeckoAPI
from mplfinance.original_flavor import candlestick2_ohlc

In [3]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
from plotly.offline import plot
import matplotlib.pyplot as plt
import datetime
from pycoingecko import CoinGeckoAPI
from mplfinance.original_flavor import candlestick2_ohlc

You create a dictionary, this is just data.

In [ ]:
dict_={'a':[11,21,31],'b':[12,22,32]}

In [4]:
dict_={'a':[11,21,31],'b':[12,22,32]}
dict_

{'a': [11, 21, 31], 'b': [12, 22, 32]}

When you create a Pandas object with the Dataframe constructor in API lingo, this is an "instance". The data in the dictionary is passed along to the pandas API. You then use the dataframe to communicate with the API.

In [ ]:
df=pd.DataFrame(dict_)
type(df)

In [5]:
df=pd.DataFrame(dict_)
type(df)

pandas.core.frame.DataFrame

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%205/images/pandas_api.png" width = 800, align = "center" alt="logistic regression block diagram" />

When you call the method head the dataframe communicates with the API displaying the first few rows of the dataframe.

In [ ]:
df.head()

In [6]:
df.head()

    a   b
0  11  12
1  21  22
2  31  32

When you call the method mean,the API will calculate the mean and return the value.

In [ ]:
df.mean()

In [7]:
df.mean()

a    21.0
b    22.0
dtype: float64

<h2 id="ref1">REST APIs</h2>

Rest API’s function by sending a request,  the request is communicated via HTTP message. The HTTP message usually contains a JSON file. This contains instructions for what operation we would like the service or resource to perform. In a similar manner, API returns a response, via an HTTP message, this response is usually contained within a JSON.

In cryptocurrency a popular method to display the movements of the price of a currency.

![Example Candlestick Graph](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%205/candlestick.png)

Here is a description of the candle sticks.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%205/explanation.png" alt="Candle Stick Definition" width="800" height="600">

In this lab, we will be using the <a href="https://www.coingecko.com/en/api?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01">CoinGecko API</a> to create one of these candlestick graphs for Bitcoin. We will use the API to get the price data for 30 days with 24 observation per day, 1 per hour. We will find the max, min, open, and close price per day meaning we will have 30 candlesticks and use that to generate the candlestick graph. Although we are using the CoinGecko API we will use a Python client/wrapper for the API called <a href="https://github.com/man-c/pycoingecko?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01">PyCoinGecko</a>. PyCoinGecko will make performing the requests easy and it will deal with the enpoint targeting.

Lets start off by getting the data we need. Using the <code>get_coin_market_chart_by_id(id, vs_currency, days)</code>. <code>id</code> is the name of the coin you want, <code>vs_currency</code> is the currency you want the price in, and <code>days</code> is how many days back from today you want.

In [ ]:
cg = CoinGeckoAPI()

bitcoin_data = cg.get_coin_market_chart_by_id(id='bitcoin', vs_currency='usd', days=30)

In [8]:
cg=CoinGeckoAPI()
bitcoin_data = cg.get_coin_market_chart_by_id(id='bitcoin', vs_currency='usd', days=30)

In [ ]:
type(bitcoin_data )

In [9]:
type(bitcoin_data)

dict

In [10]:
bitcoin_data["prices"][0:2]

[[1636751026948, 64313.115969074905], [1636754407154, 64341.15804940664]]

In [11]:
type(bitcoin_data["prices"])

list

In [12]:
dfbc=pd.DataFrame(bitcoin_data)
dfbc

                                  prices  ...                        total_volumes
0    [1636751026948, 64313.115969074905]  ...  [1636751026948, 38335979208.218254]
1     [1636754407154, 64341.15804940664]  ...   [1636754407154, 37691293752.96494]
2     [1636758244387, 64111.22781164685]  ...  [1636758244387, 37062548234.792244]
3     [1636761855050, 64432.04794734522]  ...  [1636761855050, 36872626217.741356]
4    [1636765461425, 64528.481713868576]  ...   [1636765461425, 35435518148.99625]
..                                   ...  ...                                  ...
717  [1639328598238, 49874.614648465984]  ...  [1639328598238, 18867625134.117165]
718   [1639332251359, 50281.73854518594]  ...  [1639332251359, 19597113868.497097]
719  [1639335697114, 50473.826329249794]  ...  [1639335697114, 20144513342.522938]
720   [1639339354699, 50257.31197197095]  ...  [1639339354699, 20344412994.529137]
721   [1639343569000, 50275.59695723346]  ...   [1639343569000, 20442079685.04356]

[722 rows x 3 columns]

In [13]:
type(dfbc)

pandas.core.frame.DataFrame

In [14]:
dfbcMC=pd.DataFrame(bitcoin_data, columns=['market_caps'])
dfbcMC

                             market_caps
0    [1636751026948, 1213513694204.1763]
1    [1636754407154, 1214857653812.3257]
2    [1636758244387, 1209872984088.2036]
3    [1636761855050, 1215930166022.9006]
4    [1636765461425, 1217750855875.3137]
..                                   ...
717    [1639328598238, 941393067652.759]
718   [1639332251359, 950281465363.6498]
719   [1639335697114, 953914585244.9733]
720   [1639339354699, 949824548397.3445]
721   [1639343569000, 950194506429.5619]

[722 rows x 1 columns]

The response we get is in the form of a JSON which includes the price, market caps, and total volumes along with timestamps for each observation. We are focused on the prices so we will select that data.

In [ ]:
bitcoin_price_data = bitcoin_data['prices']

bitcoin_price_data[0:5]

In [15]:
bitcoin_price_data=bitcoin_data['prices']
bitcoin_price_data[0:5]

[[1636751026948, 64313.115969074905],
 [1636754407154, 64341.15804940664],
 [1636758244387, 64111.22781164685],
 [1636761855050, 64432.04794734522],
 [1636765461425, 64528.481713868576]]

In [16]:
type(bitcoin_price_data)

list

Finally lets turn this data into a Pandas DataFrame.

In [ ]:
data = pd.DataFrame(bitcoin_price_data, columns=['TimeStamp', 'Price'])

In [17]:
data=pd.DataFrame(bitcoin_price_data, columns=["TimeStamp", "Price"])

In [18]:
data

         TimeStamp         Price
0    1636751026948  64313.115969
1    1636754407154  64341.158049
2    1636758244387  64111.227812
3    1636761855050  64432.047947
4    1636765461425  64528.481714
..             ...           ...
717  1639328598238  49874.614648
718  1639332251359  50281.738545
719  1639335697114  50473.826329
720  1639339354699  50257.311972
721  1639343569000  50275.596957

[722 rows x 2 columns]

In [19]:
data["Price"]

0      64313.115969
1      64341.158049
2      64111.227812
3      64432.047947
4      64528.481714
           ...
717    49874.614648
718    50281.738545
719    50473.826329
720    50257.311972
721    50275.596957
Name: Price, Length: 722, dtype: float64

Now that we have the DataFrame we will convert the timestamp to datetime and save it as a column called <code>Date</code>. We will map our <code>unix_to_datetime</code> to each timestamp and convert it to a readable datetime.

In [ ]:
data['date'] = data['TimeStamp'].apply(lambda d: datetime.date.fromtimestamp(d/1000.0))

In [20]:
data["Date"]=data["TimeStamp"].apply(lambda d: datetime.date.fromtimestamp(d/1000.0))
data

         TimeStamp         Price        Date
0    1636751026948  64313.115969  2021-11-12
1    1636754407154  64341.158049  2021-11-12
2    1636758244387  64111.227812  2021-11-12
3    1636761855050  64432.047947  2021-11-13
4    1636765461425  64528.481714  2021-11-13
..             ...           ...         ...
717  1639328598238  49874.614648  2021-12-12
718  1639332251359  50281.738545  2021-12-12
719  1639335697114  50473.826329  2021-12-12
720  1639339354699  50257.311972  2021-12-12
721  1639343569000  50275.596957  2021-12-12

[722 rows x 3 columns]

Using this modified dataset we can now group by the <code>Date</code> and find the min, max, open, and close for the candlesticks.

In [ ]:
candlestick_data = data.groupby(data.date, as_index=False).agg({"Price": ['min', 'max', 'first', 'last']})

In [21]:
candlestick_data=data.groupby(data.Date, as_index=False).agg({"Price":["min", "max", "first", "last"]}) #first=open  last=close

In [22]:
candlestick_data

          Date         Price
                         min           max         first          last
0   2021-11-12  64111.227812  64341.158049  64313.115969  64111.227812
1   2021-11-13  63691.403147  64991.705536  64432.047947  64521.648875
2   2021-11-14  63874.891514  65219.483033  64660.335353  64763.012845
3   2021-11-15  63991.944474  66136.912461  65648.977791  64069.393251
4   2021-11-16  59490.626900  63933.835443  63933.835443  60885.079624
5   2021-11-17  59359.165190  60800.021957  60398.826069  60292.325614
6   2021-11-18  56956.384977  60982.715694  60613.390494  56956.384977
7   2021-11-19  55861.139307  58361.160585  56987.322339  58056.784094
8   2021-11-20  57833.006825  59959.646836  58459.255517  59943.632505
9   2021-11-21  58861.630427  60082.911668  60082.911668  59362.841309
10  2021-11-22  55921.075722  59216.860474  59139.779280  56898.609252
11  2021-11-23  56100.000067  57851.381350  56386.856853  57526.341288
12  2021-11-24  56054.279283  57748.793174  57748.793174  57032.781719
13  2021-11-25  57128.550240  59206.232837  57198.183846  58958.548352
14  2021-11-26  54031.997962  58897.846983  58897.846983  54185.035132
15  2021-11-27  53827.792865  55225.942781  53827.792865  55017.855454
16  2021-11-28  53917.311740  56303.970003  54706.458577  56262.552640
17  2021-11-29  56639.665527  58778.092449  57237.661137  58132.109111
18  2021-11-30  56454.038208  58287.480460  57848.773537  57284.798601
19  2021-12-01  56749.098100  58612.920116  57011.280474  57124.866358
20  2021-12-02  56225.080607  57224.482540  57169.371994  56902.247564
21  2021-12-03  53448.720326  57060.825202  56508.268054  53483.395160
22  2021-12-04  46633.332640  53785.967172  53785.967172  49049.778903
23  2021-12-05  47828.356015  49673.940889  49161.990710  49254.374734
24  2021-12-06  47373.065254  50979.271823  49268.469891  50979.271823
25  2021-12-07  50302.094231  51855.478472  50461.576837  50302.094231
26  2021-12-08  49113.378818  50878.678203  50647.663406  50345.016232
27  2021-12-09  47504.053366  50650.944941  50530.458065  47937.140247
28  2021-12-10  47654.188647  49818.209308  47885.871989  47794.906334
29  2021-12-11  47303.564152  49090.949507  47303.564152  49020.750484
30  2021-12-12  48901.686411  50473.826329  49242.302324  50275.596957

Finally we are now ready to use plotly to create our Candlestick Chart.

In [ ]:
fig = go.Figure(data=[go.Candlestick(x=candlestick_data['date'],
                open=candlestick_data['Price']['first'], 
                high=candlestick_data['Price']['max'],
                low=candlestick_data['Price']['min'], 
                close=candlestick_data['Price']['last'])
                ])

fig.update_layout(xaxis_rangeslider_visible=False)

fig.show()

In [23]:
go

In [24]:
fig = go.Figure(data=[go.Candlestick(x=candlestick_data["Date"],
                open=candlestick_data["Price"]["first"],
                high=candlestick_data["Price"]["max"],
                low=candlestick_data["Price"]["min"],
                close=candlestick_data["Price"]["last"])
                ])

fig.update_layout(xaxis_rangeslider_visible=False)

fig.show()

## Authors:

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By    | Change Description                 |
| ----------------- | ------- | ------------- | ---------------------------------- |
| 2020-11-23        | 3.0     | Azim Hirjani  | New API                            |
| 2020-09-09        | 2.1     | Malika Singla | Spell Check                        |
| 2020-08-26        | 2.0     | Lavanya       | Moved lab to course repo in GitLab |
|                   |         |               |                                    |

<hr/>

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>